<a href="https://colab.research.google.com/github/govindrvinod777/My-first-Repository-A7/blob/main/GOVIND_STAT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Dataset: Monthly temperatures in a city (in Â°C): 12, 15, 14, 16, 18, 20, 22, 19,
17, 15, 13, 10 Questions:
a) Calculate the mean temperature.
b) Calculate the median temperature.
c) Find the mode of the temperature data.
d) Range and Variance

In [ ]:
import numpy as np
from statistics import mean, median, mode, variance

temps = [12, 15, 14, 16, 18, 20, 22, 19, 17, 15, 13, 10]

mean_temp = mean(temps)

median_temp = median(temps)

mode_temp = mode(temps)

range_temp = max(temps) - min(temps)

variance_temp = np.var(temps)

print("Mean Temperature:", mean_temp)
print("Median Temperature:", median_temp)
print("Mode Temperature:", mode_temp)
print("Range:", range_temp)
print("Variance:", variance_temp)

Mean Temperature: 15.916666666666666
Median Temperature: 15.5
Mode Temperature: 15
Range: 12
Variance: 11.076388888888888

2. Dataset: Heights of students (in cm): 150, 160, 165, 170, 155, 160, 162, 168
Questions: a) Calculate the range of the heights.
b) Calculate the variance of the heights.
c) Standard Deviation

In [ ]:
import math
heights = [150, 160, 165, 170, 155, 160, 162, 168]

range_heights = max(heights) - min(heights)

mean_height = sum(heights) / len(heights)
squared_diff = [(x - mean_height) ** 2 for x in heights]
variance = sum(squared_diff) / len(heights)

std_dev = math.sqrt(variance)

print("Range:", range_heights)
print("Variance:", variance)
print("Standard Deviation:", std_dev)

Range: 20
Variance: 38.1875
Standard Deviation: 6.179603547154137

3. Dataset: Weekly expenses (in $): 200, 250, 300, 220, 270, 290, 310
Questions: a) Calculate the standard deviation of the weekly expenses.

In [ ]:
expenses=[ 200, 250, 300, 220, 270, 290, 310]
mean = sum(expenses) / len(expenses)
variance= sum((x-mean) ** 2 for x in expenses) / len(expenses)

if variance >=0:
  std = variance ** 0.5
else:
  std = None
print('Standard Deviation: ',std)

Standard Deviation:  38.438925848782034

4. Dataset: Advertising Spending (in $1000s): 10, 20, 15, 25, 30; Sales (in
$1000s): 100, 150, 120, 180, 200
Questions: a) Calculate the covariance between advertising spending and sales.
b) Correlation

In [ ]:
import numpy as np
advertising = [10, 20, 15, 25, 30]
sales = [100, 150, 120, 180, 200]

cov_matrix = np.cov(advertising, sales, ddof=0)
covariance = cov_matrix[0, 1]

correlation = np.corrcoef(advertising, sales)[0, 1]

print("Covariance:", covariance)
print("Correlation:", correlation)

Covariance: 260.0
Correlation: 0.9970544855015815

5. Dataset: Study Hours: 2, 4, 6, 8, 10; Exam Scores: 55, 60, 65, 70, 75
Questions: a) Calculate the correlation coefficient between study hours and exam
scores.
b) Interpret the result.
c) Quartiles and IQR

In [ ]:
import numpy as np

hours = [2, 4, 6, 8, 10]
scores = [55, 60, 65, 70, 75]

corr_matrix = np.corrcoef(hours, scores)
corr = corr_matrix[0][1]

quartiles = np.percentile(scores, [25, 50, 75])
iqr = quartiles[2] - quartiles[0]

print("Correlation Coefficient:", corr)
print("Quartiles:", quartiles)
print("IQR:", iqr)

Correlation Coefficient: 1.0
Quartiles: [60. 65. 70.]
IQR: 10.0

6. Dataset: Monthly savings (in $): 200, 300, 400, 500, 600, 700, 800, 900, 1000,
1100 Questions: a) Calculate the first quartile (Q1) and third quartile (Q3).
b) Calculate the interquartile range (IQR).
c) Detecting Outliers
6. Dataset: Monthly savings (in $): 200, 300, 400, 500, 600, 700, 800, 900, 1000,
1100 Questions: a) Calculate the first quartile (Q1) and third quartile (Q3).
b) Calculate the interquartile range (IQR).
c) Detecting Outliers

In [ ]:
import numpy as np

savings = [200,300,400,500,600,700,800,900,1000,1100]
q1 = np.percentile(savings,25)
q3 = np.percentile(savings,75)

iqr = q3-q1
lower = q1-1.5*iqr
upper = q3+1.5*iqr

outliers = [x for x in savings if x<lower or x>upper]
print("Q1:",q1,"Q3:",q3,"IQR:",iqr,"Outliers:",outliers)

Q1: 425.0 Q3: 875.0 IQR: 450.0 Outliers: []

7. Dataset: Ages of employees: 22, 25, 28, 30, 35, 40, 45, 50, 55, 100
Questions: a) Identify any outliers using the IQR method.

In [14]:
import numpy as np

def find_outliers_iqr(data):
    data = np.array(data)

    Q1 = np.percentile(data, 25)
    Q3 = np.percentile(data, 75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data < lower_bound) | (data > upper_bound)]

    return outliers, lower_bound, upper_bound

ages = [22, 25, 28, 30, 35, 40, 45, 50, 55, 100]

outliers, lb, ub = find_outliers_iqr(ages)

print("Lower Bound:", lb)
print("Upper Bound:", ub)
print("Outliers:", outliers)

Lower Bound: -1.875
Upper Bound: 79.125
Outliers: [100]

8. Dataset: Observed frequencies of customer preferences for three products:
Product A: 50, 55, 60
Product B: 30, 25, 35
Product C: 20, 20, 25
Questions: a) Perform a chi-square test to determine if there is a significant
difference in customer preferences among the three products. b) Hypothesis
Testing

In [15]:
import numpy as np
from scipy.stats import chi2_contingency

def chi_square_test(data):

    chi2, p, dof, expected = chi2_contingency(data)

    return chi2, p, dof, expected

data = [
    [50, 55, 60],
    [30, 25, 35],
    [20, 20, 25]
]

chi2, p, dof, expected = chi_square_test(data)

print("Chi-square Statistic:", chi2)
print("Degrees of Freedom:", dof)
print("p-value:", p)
print("Expected Frequencies:\n", expected)

alpha = 0.05
if p < alpha:
    print("Reject Null Hypothesis: Significant difference in preferences.")
else:
    print("Fail to Reject Null Hypothesis: No significant difference in preferences.")

Chi-square Statistic: 0.8774928774928774
Degrees of Freedom: 4
p-value: 0.9277673918614506
Expected Frequencies:
 [[51.5625 51.5625 61.875 ]
 [28.125  28.125  33.75  ]
 [20.3125 20.3125 24.375 ]]
Fail to Reject Null Hypothesis: No significant difference in preferences.

9. Dataset: Sample weights (in kg) of a new diet program: 70, 68, 72, 71, 69, 73,
72, 74, 70, 71 Questions: a) Test the hypothesis that the mean weight after the
diet program is equal to 70 kg at a 5% significance level. b) Z-Scores

In [16]:
import numpy as np
from scipy.stats import ttest_1samp, zscore

def one_sample_ttest(data, mu0):
    t_stat, p_value = ttest_1samp(data, mu0)
    return t_stat, p_value

def calculate_zscores(data):
    return zscore(data)

weights = [70, 68, 72, 71, 69, 73, 72, 74, 70, 71]

t_stat, p_value = one_sample_ttest(weights, 70)

print("T-statistic:", t_stat)
print("p-value:", p_value)

alpha = 0.05
if p_value < alpha:
    print("Reject Null Hypothesis: Mean is significantly different from 70.")
else:
    print("Fail to Reject Null Hypothesis: Mean is not significantly different from 70.")

zscores = calculate_zscores(weights)
print("Z-scores:", zscores)

T-statistic: 1.732050807568877
p-value: 0.11730680301423822
Fail to Reject Null Hypothesis: Mean is not significantly different from 70.
Z-scores: [-0.57735027 -1.73205081  0.57735027  0.         -1.15470054  1.15470054
  0.57735027  1.73205081 -0.57735027  0.        ]

10. Dataset: Annual salaries of employees (in $1000s): 40, 42, 45, 47, 50, 52, 55,
57, 60, 62 Questions: a) Calculate the z-scores for each salary.
b) Interpret the z-scores.
c) Normal Distribution